
name: Run unit test of feature branches 
on: 
 push:
  branches: [main]

jobs:
   build: 
      runs-on: Ubuntu-latest

      steps:
         - name: Checkout
           uses: actions/checkout@v6.0.2
         - name: print message 
           run: echo "Hello Guest welcome "
